@font-face {
    font-family: "Norse";
    src: url(./fonts/norse.bold.otf) format("opentype");
    src: url(./fonts/norse.regular.otf) format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
    height: 100vh;
    display: flex;
}

a {
    text-decoration: none;
}

.img-wrapper {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}

.logo-bar {
    width: 100%;
    position: absolute;
    top: 350px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: rgb(0, 0, 0, 0.15);
}

.logo-text {
    font-size: 3rem;
    color: white;
    font-family: 'Norse';
    font-weight: 700;
}

.logo-img {
    width: 100px;
    height: 100px;
}

div.credit {
    position: absolute;
    bottom: 0px;
    font-size: 1.5rem;
    color: white;
    width: 100%;
}

.img-footer {
    text-align: center;
}

.form-section {
    display: flex;
    flex-direction: column; 
}

.form-section header {
    width: 70%;
    margin-top: 100px; 
}

.form-section h1 {
    font-size: 1.5rem;
}

.sign-up-form fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 70px 0px 25px 20px;
    border: 1px solid rgb(0, 0, 0, 0.05);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.form-row:not(div:nth-of-type(-n+1)) {
    margin-bottom: 45px;
}

p.required {
    margin-bottom: 15px;
}

.sign-up-form legend {
    position: absolute;
    top: 20px;
    font-size: 1.35rem;
}

p.required {
    font-size: 0.9rem;
    font-style: italic;
}

header, 
p.login-text,
button {
    margin-left: 20px;
}

.sign-up-form {
    margin-top: 50px;
    margin-bottom: 15px;
}

.form-row {
    display: flex;
    gap: 80px;
}

div[class^="form-"] {
    position: relative;
}

input, 
label,
button {
    font: inherit;
}

label {
    display: block;
    font-size: 0.85rem;
    margin-bottom: 2px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

input {
    padding: 7px 14px;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgb(0, 0, 0, 0.25);
}

input:focus {
    outline: none;
}

button {
    margin-top: 35px;
    padding: 7px 55px;
    font-size: 1.2rem;
    border: none;
    color: white;
    border-radius: 7px;
    background-color: rgb(159, 69, 176);
}

.img-wrapper a {
    color: rgb(159, 69, 176);
}

.form-section a {
    color: #44008b;
}

input:focus {
    border: 1px solid rgb(159, 69, 176);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input:not([id="pass-confirm"]):user-invalid {
    border: 1px solid red;
}

input:not([id="pass-confirm"]):user-valid {
    border: 1px solid green;
}

.site-footer {
    position: fixed;
    bottom: 0;
    right: 50%;
    color: black;
}

input + p {
    width: 100%;
    top: 105%; /* Position the text just below the container */
    position: absolute;
    color: red;
}
